@media(max-width: 740px) {
    #nav {
        display: block;
        position: relative;
    }
    #menu-mobile {
        position: absolute;
        z-index: 2;
    }
    #nav > li {
        display: block;
    }
    #header .search-button {
        display: none;
    }
}