@media(max-width: 740px) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .menu-mobile-btn {
        display: block;
    }

    #header .search-button {
        display: none;
    }
}