@media(max-width: 740px) {
    #nav {
        display: block;
        position: relative;
    }

    #nav > li {
        display: block;
    }
    #header .search-button {
        display: none;
    }
}