@media(max-width: 740px) {
    #nav {
        display: block;
    }
    #menu-mobile {
        position: absolute;
        top: 0;
        right: 0;
    }
    #nav > li {
        display: block;
    }
    #header .search-button {
        display: none;
    }
}