* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav li {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 2px 24px;
}

#nav .subnav {
    display: none;
}

#slider {

}

#content {

}

#footer {

}